/Cessa's coursera certificate.pdf
/Cessa's hospital website.mp4
/cessa.py
/Coursera certification UOM.pdf
/Coursera certification2 UOM.pdf
/Coursera certification3 UOM.pdf
/data.txt
/Economics Project(Kachi).docx
/file1.py
/file2.py
/file3.py
/file4.py
/mbox-short.txt
/NanoEdge Certificate (2).jpg
/new capture1.PNG
/parks.csv
/Princessa Transcript.pdf
/Princessa's Python Assignment.docx
/Python Assignment.docx
/regex_sum_UOM.txt
/Regular Expression UOM.txt
/scraper.db
/Terminal Capture (Web scraping).PNG
/UNOFFICIAL ASSIGNMENTS.docx
/wazobia.db
/webscrabes.db
/__pycache__